/* BEER TOUTS */
.beer-touts {
	padding: 1.875rem 0 0;
	.chev {
    	position: relative;
	}
	.chev > i {
	    position: absolute;
	    display: inline-block;
	    width: 0;
	    height: 0;
	    line-height: 0;
	    border: .69em solid $secondary-color;
	    border-right: .69em solid transparent;
	    left: 0em;
	    top: 0em;
	}

	@include breakpoint (large) {
		margin-bottom: 4.250rem;
	}

}
.beer-tout {
	padding-bottom: 1.875rem;
	h4 {
		font-size: rem-calc(25);
		margin-left: .938rem;
		.light {
			font-weight: 300;
			font-size: rem-calc(30);
		}
		@include breakpoint (medium) {
			font-size: rem-calc(45);
		}
		@include breakpoint (large) {
			margin-left: 2.5rem;
		}
	}
	p {
		margin: 1rem .938rem;
		@include breakpoint (large) {
			margin-left: 2.5rem;
			margin-bottom: 2rem;
		}

	}
	.button {
		margin-left: .938rem;
		@include breakpoint (large) {
			margin-left: 2.5rem;
		}
	}
}
.beer-tout-bg {
	background: $light-gray;
	border-radius: $global-radius;
	.tout-beer {
		margin: -.625rem 0 0 .438rem;
		padding-bottom: .5rem;
		@include breakpoint (medium) {
			margin: -1.3rem 0 0 .438rem;
		}
		@include breakpoint (large) {
			margin: -2.6rem 0 0 1.5rem;
			padding: 0 0 1.5rem 0;
		}
	}
}
.tout-label {
		margin: 1.563rem 0 1.5rem .938rem;
		text-transform: uppercase;
		font-weight: 800;
		background: $secondary-color;
		line-height: .9;
		border-radius: 0px;
		padding-right: 0;
		@include breakpoint (large) {
			margin-left: 2.5rem;
		}
}
.tout-label:before {
	border-top: 50px solid transparent;
}
