/* HOME SOCIAL */
.home-social {
	color: $primary-color;
	h4 {
		font-weight: 300;
		font-size: rem-calc(25);
		text-transform: uppercase;
		margin-bottom: 1rem;
		@include breakpoint (medium) {
			font-size: rem-calc(50);
			margin: 2.5rem 0;
		}

	}
	.meta {
		font-size: rem-calc(12);
		margin-bottom: .5rem;
	}
	.headline {
		font-weight: 800;
		font-size: 20px;
		line-height: 1.35rem;
		text-transform: uppercase;
		margin-bottom: .75rem;
	}
	.instagram {
		padding-top: 1.875rem;
		.icon {
			margin-top: -.5rem;
		}
		.gram {
			margin-bottom: 1rem;
		}
		.caption {
			span {
				font-weight: 700;
			}
		}
	}
	.home-post {
		h4 {
			margin: 0 0;
		}
		@include breakpoint (medium) {
			margin-bottom: 3.75rem;
		}
	}
	.button {
		min-width: 180px;
	}
	.events {
		margin: 1.875rem 0rem;
	}
}