/* BEER BACKGROUND */

.beer-bg {
	background: #eeaf00;
	color: $white;
	@include breakpoint(medium) {
			padding-top: rem-calc(60);
		}
	h2 {
		color: $white;
		line-height: 2.25rem;
		text-transform: uppercase;
		margin-bottom: 1.5rem;
		.light {
			font-weight: 300;
		}
		@include breakpoint(medium) {
			line-height: 3rem;
		}
	}
}

.home-pub-info {
	padding: 1.875rem 1rem;
	background: $primary-color;
	p {
		margin-bottom: 1.875rem;
	}
	.button {
		min-width: 180px;
		background: $white;
		color: $primary-color;
	}
	.pub-img {
		background: url(http://placeholder.it/800x300) no-repeat;
		background-size: cover;
	}
	@include breakpoint (medium) {
		padding: 0rem 1rem;
	}
}
.home-pub-img {
	background: url(http://placehold.it/830x500) no-repeat;
	height: rem-calc(166);
}

.beer-finder {
	.finder-img{
		padding-top: 2.5rem;
	}
	h3 {
		font-size: 18px;
		line-height: 1.2rem;
		text-transform: uppercase;
	}
	.finder-text {
		padding-top: 1.875rem;
		padding-bottom: 1.875rem;
	}
	::-webkit-input-placeholder {
   		color: $secondary-color;
   		text-align: center;
	}
}